#block-admin-panel-admin-panel {
  background-color: #000;
  color: #fff;
  border: 2px solid #ccc;
}

#block-admin-panel-admin-panel .admin_panel_widget_wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#block-admin-panel-admin-panel .admin_panel_widget_content {
  width: 94%;
  padding: 3%;
  font-size: 0.87em;
}

#block-admin-panel-admin-panel .admin_panel_widget_wrapper+.admin_panel_widget_wrapper .admin_panel_widget_content {
  display: none;
}

#block-admin-panel-admin-panel .admin_panel_widget_header {
  width: 99%;
  padding: 3px 0 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}